<!-- TODO: replace the contents of this file with your own html -->
<div class="palm-body-text" style="position:relative;">
    <div id="recording" style="display:none"><div class="img"><img src="images/low/recording.png" width="165" height="250" alt="" /></div></div>
    <div id="conv-list-scroller" x-mojo-element="Scroller">
    <div id='conv-list' x-mojo-element='List' style="padding-bottom:100px;margin-top:10px">
    </div>
    </div>
    <div id="footer" style="position:fixed;bottom:0;left:0;width:100%;">
        <div class="palm-list">
            <div id="messageContainer" class="palm-row view-#{availabilityClass}" x-mojo-focus-highlight=true>
                <div id="textgroup" class="palm-row-wrapper">
                    <div class="toaster">
                        <div id="ActionButton" class="icon left textentry">
                            <div id="sendButton" class="stuck sendButton" x-mojo-tap-highlight="momentary">
                            </div>
                        </div>
                        <div id="ActionButton" class="icon right textentry">
                            <div id="attachButton" class="stuck attachButton" x-mojo-tap-highlight="momentary">
                            </div>
                        </div>
                        <div class="messageTextWidget">
                            <div id="comment-content" x-mojo-element="TextField" style="display:none;min-height:30px;color:#FFF">
                            </div>
                            <div id="audio-recorder" x-mojo-element="Button" style="margin-left:6px;padding-bottom:7px;overflow:hidden;max-height: 54px;">
                            </div>
                        </div>
                        <!--style="display:none;"-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
