<div class="status-row removable" x-mojo-gesture='Mojo.Gesture.HorizontalDrag' x-mojo-tap-highlight='immediate'>
	<div class="palm-row-wrapper">
		<table width="100%" border="0">
			<tr>
				<td valign="top" width="40">
                    <a href="#" class="avatar"><img src="#{other.avatar}" alt="" /></a>
				</td>
				<td>
					<div class="content-wrapper">
						<div class="mo-time">#{timestampFormatted}</div>
						<div class="mo-name">#{other.name}</div>
						<div class="mo-text">#{-contentFormatted}</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
