<div class="#{-senderFormatted} conv-list-detail-item">
    <span class="time">#{timestampFormatted}</span>
    <div class="mo-chat-detail-item">
        <div class="mo-chat-detail-item-avatar">
            <a href="#" class="avatar"><img src="#{sender.avatar}" alt="" /></a>
        </div>
        <div class="detail-content #{-receiverFormatted}">
            <span class="arrow"></span>
            <div class="content">#{-contentFormatted}</div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
