<!-- TODO: replace the contents of this file with your own html -->
<div class="palm-body-text">
    <div id="appHeadera" class="appHeader">
        <div id="addBtn" class="btn_title_left"></div>
        <div class="title" style="width:200px;float:left">
            <div class='title un-capitalize truncating-text atitle' id='title'>MO私信</div>
        </div>
        <div id="refreshBtn" class="btn_title_right"></div>
    </div>
	<div id='conv-list' class="conv-list" x-mojo-element='List'>
	<div id="hello"></div>
</div>
