<div id='dashboardinfo' class="dashboardinfo">
    <div class="dashboard-notification-module">
        <div id="dashboard-icon" class="palm-dashboard-icon-container">
            <div id="dashboard-icon" class="palm-dashboard-icon dashboard-icon-running"></div>
        </div>
        <div id="dashboard-body" class="palm-dashboard-text-container">
            <div class="dashboard-title" id="dashboard-title">
                Running
            </div>
            <div id="dashboard-text" class="palm-dashboard-text">
                momo服务运行中
            </div>
        </div>
    </div>
</div>

