<div class="palm-dark">
    <div class="palm-group">
	    <div class="palm-group-title" x-mojo-loc=''>注册</div>
        <div class="palm-list">
            <div class="palm-row first">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title country-code">
                        <div id="country-code" name="country-code" x-mojo-element="ListSelector"></div>
                    </div>
                </div>
            </div>
            <div class="palm-row second">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div class="label">手机号</div>
                        <div id="telephone" name="telephone" x-mojo-element="TextField"></div>
                    </div>
                </div>
<div>                <div id="get-verify-code" x-mojo-element="Button"></div></div>
            </div>
            <div class="palm-row last">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div class="label">验证码</div>
                        <div id="verify-code" name="verify-code" x-mojo-element="TextField"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="acitivation" x-mojo-element="Button"></div>
</div>
