*{margin:0;padding:0}
body.palm-default{font-size:12px;background:#fafafa}
a{color:#212121;font-size:14px;font-weight:700;text-decoration:none}
p{color:#404547;word-wrap: break-word; word-break: break-all;}
.palm-body-text{padding:0;margin:0}
.palm-row-wrapper{padding:4px 8px}
.dashboard-icon-momo {background: url(../icon.png) center center no-repeat;}
.avatar {width: 48px;height: 48px;border-radius:5px}
.avatar img{width: 48px;height: 48px;border-radius:5px}
.stuck.sendButton {
    background: url(../images/sender/msg-send-airplane-press.png) top left no-repeat;
    background: url(../images/sender/msg-send-airplane.png) top left no-repeat;
    width: 48px;
    padding: 0;
    margin: 0px;
    height: 48px;
    position: absolute;
    bottom: 6px;
    left: 6px;
}

.stuck.smileButton {
    background: url(../images/sender/smiles-button-press.png) top left no-repeat;
    background: url(../images/sender/smiles-button.png) top left no-repeat;
    width: 48px;
    padding: 0;
    margin: 0px;
    height: 48px;
    position: absolute;
    bottom: 6px;
    left: 6px;
}

.stuck.attachButton {
    background: url(../images/sender/msg-attachment-paperclip-press.png) top left no-repeat;
    background: url(../images/sender/msg-attachment-paperclip.png) top left no-repeat;
    width: 48px;
    padding: 0;
    margin: 0px;
    height: 48px;
    position: absolute;
    bottom: 6px;
    right: 6px;
}

#messageContainer .textentry {
    margin-top: 7px;
}

#messageContainer .messageTextWidget {
	margin: 0px;
	padding: 0px;
	margin-right: 48px;
	margin-left: 48px;
}

.stuck.sendButton.selected {
    background: url(../images/sender/msg-send-airplane-press.png) top left no-repeat;
}

.stuck.smileButton.selected {
    background: url(../images/sender/smiles-button-active.png) top left no-repeat;
}
#mojo-scene-login-scene-scroller{padding:105px 10px 0;background:url(../images/login_bg.jpg) no-repeat #111;background-size:cover}
.palm-row-wrapper{padding:4px 8px}
.palm-button.affirmative,#palm-dialog-box .palm-button.affirmative{color:#fff;-webkit-border-image: url(../images/palm-button-blue.png) 0 17 104 17 repeat repeat;}
.palm-button.affirmative.selected,#palm-dialog-box .palm-button.affirmative.selected {-webkit-border-image: url(../images/palm-button-blue.png) 52 17 52 17 repeat repeat;}
.palm-button.affirmative.disabled,#palm-dialog-box .palm-button.affirmative.disabled {-webkit-border-image: url(../images/palm-button-blue.png) 104 17 0 17 repeat repeat;}
.appHeader{position: fixed;top:0;left:0;color:#fff;height:48px;width:320px;padding-top:0px;background:url(../images/title_background.png) repeat-x;z-index:1000}
.headerShadow{position: fixed;top:48px;left:0;color:#fff;height:5px;width:320px;background:url(../images/top_shadow.png) no-repeat;z-index: 100}
.atitle{width:100%;padding-top:8px;font-weight:bold;text-align:center;font-size:20px}
.btn_title_left{float:left;width:60px;height:48px;background:url(../images/btn_left.png) no-repeat}
.btn_title_left:active{background:url(../images/btn_left_active.png) no-repeat}
.btn_title_right{float:left;width:60px;height:48px;background:url(../images/btn_right.png) no-repeat}
.btn_title_right:active{background:url(../images/btn_right_active.png) no-repeat}
.conv-list{width:100%;margin-top:53px}
.clear{clear:both}
ul li.conv-list-item{padding:8px 0;width:100%;height:64px;list-style:none;vertical-align:top;border-bottom:1px solid #bbb;background:#FFF}
ul li.conv-list-item .mo-chat-item-avatar{width:48px;float:left;padding:0 5px 0 10px}
ul li.conv-list-item .mo-chat-item{padding:2px 0 0 2px;}
ul li.conv-list-item .mo-chat-item .name{padding-left:10px;font-size:20px;line-height:24px;font-weight:700}
ul li.conv-list-item .mo-chat-item .detail{font-size:16px;line-height:16px;font-weight:400;color:#888;height:4px;white-space:nowrap;overflow:hidden;text-overflow: ellipsis;}
ul li.conv-list-item .time{float:right;padding-right:10px;color:#ccc}
ul li.conv-list-detail-item{padding:5px 5px;list-style:none}
ul li.conv-list-detail-item .mo-chat-detail-item-avatar{float:left;margin-right:2px}
ul li.conv-list-detail-item .time{float:left;color:#ccc;margin:0 0 5px 60px}
ul li.conv-list-detail-item .mo-chat-detail-item{clear:both}
ul li.conv-list-detail-item .mo-chat-detail-item .detail-content{position:relative;float:left;margin:0 10px;padding:2px;max-width:230px;background:#E1E1E1;border-radius:5px;box-shadow:5px}
ul li.is-said .mo-chat-detail-item .detail-content .arrow{position:absolute;top:10px;left:-11px;display:inline-block;width:11px;height:10px;background:url(../images/is_said.png) no-repeat}
ul li.other-said .mo-chat-detail-item-avatar{float:right;margin-left:2px}
ul li.other-said .time{float:right;margin:0 60px 5px 0;clear:both;color:#9C9C9C}
ul li.other-said .mo-chat-detail-item .detail-content{float:right;background:#C4E7FF;}
ul li.other-said .mo-chat-detail-item .detail-content .arrow{position:absolute;top:10px;right:-11px;display:inline-block;width:11px;height:10px;background:url(../images/other_said.png) no-repeat}

