body{font-size:12px}
.dashboard-icon-momo {
    background: url(../icon.png) center center no-repeat;
}

.avatar {
    width: 64px;
    height: 64px;
}

.stuck.sendButton {
    background: url(../images/sender/msg-send-airplane-press.png) top left no-repeat;
    background: url(../images/sender/msg-send-airplane.png) top left no-repeat;
    width: 48px;
    padding: 0;
    margin: 0px;
    height: 48px;
    position: absolute;
    bottom: 6px;
    left: 6px;
}

.stuck.smileButton {
    background: url(../images/sender/smiles-button-press.png) top left no-repeat;
    background: url(../images/sender/smiles-button.png) top left no-repeat;
    width: 48px;
    padding: 0;
    margin: 0px;
    height: 48px;
    position: absolute;
    bottom: 6px;
    left: 6px;
}

.stuck.attachButton {
    background: url(../images/sender/msg-attachment-paperclip-press.png) top left no-repeat;
    background: url(../images/sender/msg-attachment-paperclip.png) top left no-repeat;
    width: 48px;
    padding: 0;
    margin: 0px;
    height: 48px;
    position: absolute;
    bottom: 6px;
    right: 6px;
}

#messageContainer .textentry {
    margin-top: 7px;
}

#messageContainer .messageTextWidget {
	margin: 0px;
	padding: 0px;
	margin-right: 48px;
	margin-left: 48px;
}

.stuck.sendButton.selected {
    background: url(../images/sender/msg-send-airplane-press.png) top left no-repeat;
}

.stuck.smileButton.selected {
    background: url(../images/sender/smiles-button-active.png) top left no-repeat;
}
#mojo-scene-login-scene-scroller{padding:105px 10px 0;background:url(../images/login_bg.jpg) no-repeat #111;background-size:cover}
.palm-row-wrapper{padding:4px 8px}
.palm-button.affirmative,#palm-dialog-box .palm-button.affirmative{color:#fff;-webkit-border-image: url(../images/palm-button-blue.png) 0 17 104 17 repeat repeat;}
.palm-button.affirmative.selected,#palm-dialog-box .palm-button.affirmative.selected {-webkit-border-image: url(../images/palm-button-blue.png) 52 17 52 17 repeat repeat;}
.palm-button.affirmative.disabled,#palm-dialog-box .palm-button.affirmative.disabled {-webkit-border-image: url(../images/palm-button-blue.png) 104 17 0 17 repeat repeat;}
