<div id="about-logo"></div>

<div id="about-body">
	<p id="head-honcho">
		Designed and developed <br />
        by <a href="http://weibo.cn/tsung">@tsung</a>&nbsp;&nbsp;and&nbsp;&nbsp;<a href="http://weibo.cn/spemoon">@spemoon</a><br>
	</p>
    <div class="more">
        <h3>还可访问手机版的哦:</h3>
        <div><a href="http://m.momo.im/">m.momo.im</a></div>
    </div>
</div>

<div id="about-footer">
    <h3>MOMO官方网站:</h3>
    <div>
        <a href="http://momo.im">http://momo.im</a>
    </div>
    <span>Copyright © MOMO.im</span>
</div>
